body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
}

/* Global button style */
.button {
  font-family: 'Baloo Bhaina 2';
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: rgb(49, 98, 158); /*dark blue logo #31629E */
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  font-size: 1rem;
  min-width: 4rem;
}

.button:hover {
  background-color: rgb(16, 110, 190);
}

.button.disabled {
  pointer-events: none;
  background-color: #cccccc;
  color: #666666;
}

#ablation_button {
  font-family: 'Baloo Bhaina 2';
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #de1712;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  min-width: 4rem;
}

#ablation_button.disabled {
  color: #ffffff;
  background-color: #f0f0f0;
}



/* Main section */

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}

.hidden {
  display: none;
}

.reveal {
  opacity: 0;
}

.reveal:hover {
  opacity: 0.2;
}

.result-plot {
  width = 450px;
  height = 300px;
  align-items: center;
  position: absolute;
}

.resultbox
{
  font-family: 'Baloo Bhaina 2';
  width: 110px;
  height: 50px;
  border: none;
  line-height: 100%;
  margin: 10px;
  float: left;
  background-color: rgb(51, 184, 204); /*light blue logo #33B8CC*/
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.resultbox:hover .stathover {
 display: block;
}

.resultbox .stathover {
 font-family: 'Baloo Bhaina 2';
 display: none;
 position: absolute;
 background-color: rgba(51, 184, 204, 50);
 border: 3px solid rgb(49, 98, 158);
 padding: 0.5rem 0.5rem;
 left: -300px;
 top: 50px;
 border-radius: 20px;
 z-index: 6;
}

.scorebox
{
  font-family: 'Baloo Bhaina 2';
  width: 110px;
  height: 50px;
  border: none;
  line-height: 100%;
  margin: 10px;
  float: left;
  background-color: rgb(51, 184, 204); /*light blue logo #33B8CC*/
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.scorebox:hover .stathover {
 display: block;
}

.scorebox .stathover {
 font-family: 'Baloo Bhaina 2';
 display: none;
 position: absolute;
 background-color: rgba(51, 184, 204, 50);
 border: 3px solid rgb(49, 98, 158);
 padding: 0.5rem 0.5rem;
 left: -300px;
 top: 50px;
 border-radius: 20px;
 z-index: 6;
}




#pre-operative-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px; float: left;
}

.intra-operative-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 100px; float: right;
}

#image-display.loading {
  filter: brightness(30%);
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;
}

/* Animation */
#spinner {
  box-sizing: border-box;
  stroke: #cccccc;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}
