{% extends "base.html" %} {% block content %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SciKit-SurgeryFRED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
  </head>

<div class="main" style"width:100%; overflow:hidden">
  <div class="title">
    <h3>SciKit-SurgeryFRED</h3>
    <!-- <p>
      <small>Front end for SciKit-SurgeryFRED</small>
    </p> -->
  </div>

  <div id="image-box" 
     style="position:absolute; left:0px; top:120px;">
    <img id="pre-operative-image" src = "static/brain512.png" 
      width="458px" height="512px" type="image/x-png"
      style="z-index:1; position:absolute; left:50px; top:0px;"/>
    <canvas id="pre-operative-canvas" width="458px" height="512px"
      style="z-index:2; position:absolute; left:50px; top:0px;">
    </canvas>
    <canvas id="intra-operative-image" width="512px" height="512px"
      style="z-index:3; position:absolute; left:650px; top:0px;">
	    Browser doesn't support canvas's </canvas>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

  <div style="margin-bottom: 2rem;">
    <input type="button" value="Change Image" class="button" onclick="changeImage();" />
    <input type="button" value="New Target" class="button" onclick="reset();" />
  </div>

</div>

{% endblock %}
