{% extends "base.html" %} {% block content %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SciKit-SurgeryFRED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
  </head>
<body class ="yui3-skin-sam" >
  <div class="title" height=100>
	  <img id="logo" src = "static/logo.svg"
      width="500px"  type="image/svg"
      style="z-index:1; position:absolute; left:50px; top:10px;"/>
  </div>

<div class="main" style"width:100%; overflow:hidden position:absolute; left:0px; top:100px">
This is SciKit-SurgeryFRED, press the button to continue.

	<input type="button" id="go_to_fred" value="Continue" onclick="startfredo();" style="position:relative; left:0.5; top:390px" enabled = true />
  </div>
</body>

<footer>
     <script src="{{ url_for('static',filename='introduction.js') }}"></script>
</footer>

{% endblock %}
